<div class="container">
  <div class="demo-headline">
  <h1 class="demo-logo">
    <div class="logo"></div>
    Flat UI
    <small>Free User Interface Kit</small>
  </h1>
  </div> <!-- /demo-headline -->

  <h1 class="demo-section-title">Basic elements</h1>
  <h3 class="demo-panel-title">Buttons</h3>

  <div class="row demo-row">
  <div class="col-xs-3">
    <a href="#fakelink" class="btn btn-block btn-lg btn-primary">Primary Button</a>
  </div>
  <div class="col-xs-3">
    <a href="#fakelink" class="btn btn-block btn-lg btn-warning">Warning Button</a>
  </div>
  <div class="col-xs-3">
    <a href="#fakelink" class="btn btn-block btn-lg btn-default">Default Button</a>
  </div>
  <div class="col-xs-3">
    <a href="#fakelink" class="btn btn-block btn-lg btn-danger">Danger Button</a>
  </div>
  </div> <!-- /row -->
</div>