<div class="intro-header">
    <div class="top-bar">
        <a href="http://www.linksquares.com"><img src="../img/logo_scaled.png" class="img-responsive"></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1>
                        Email analytics for your inbox
                    </h1>
                    <h3>
                        <i>Your inbox is hiding valuable content</i>
                    </h3>
                    <h3>
                        <i>Create a library of the web content in your inbox for free</i>
                    </h3>
                    <div class="form-group">
                        <ul class="list-inline intro-social-buttons">
                            <li style="list-style: none; display: inline">
                                <p class="success-text" style="display: none;">
                                    Thanks for your interest in LinkSquares
                                </p>
                                <p class="success-text" style="display: none;">
                                    Follow us <a href="http://www.twitter.com/linksquares">@linksquares</a>
                                </p>
                                <form id="target">
                                    <ul>
                                        <li>
                                            <input type="email" required="" class="form-control email-field" placeholder="Email Address" id="email" style="display: inline;"> <input id="submit-button" type="submit" class="btn btn-primary btn-lg btn-block" value="Sign up for Free" style="display: inline;">
                                        </li>
                                        <li style="list-style: none">
                                            <p class="preview-text" style="display: inline;">
                                                <i>Sign up to get your invitation to the limited preview release</i>
                                            </p>
                                        </li>
                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="intro-message"></div>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.intro-header -->
<div class="container" id="sections-features">
    <div class="row features">
        <div class="col-xs-12 col-sm-4">
            <img src="vendor/flatui/img/icons/svg/mail.svg" class="image-features" alt="Mail" style="text-align: center">
            <h2 class="section-heading">
                Unlock valuable data in your Gmail inbox
            </h2>
            <p class="lead">
                Quickly search for specific articles and know which links are still currently active.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="vendor/flatui/img/icons/svg/clocks.svg" class="image-features" alt="Watches" style="text-align: center">
            <h2 class="section-heading">
                A history of all shared links in one place
            </h2>
            <p class="lead">
                Run email analytics to capture the links you have buried in your Gmail account.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <img src="vendor/flatui/img/icons/svg/clipboard.svg" class="image-features" alt="Clipboard" style="text-align: center">
            <h2 class="section-heading">
                A better way to view content in your email
            </h2>
            <p class="lead">
                Review all your links and web content in a different way. Find older articles and shared links you may have forgotten about.
            </p>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="clearfix"></div>
                <h2 class="section-heading">
                    Intelligent Gmail analytics.
                </h2>
                <p class="lead bottom">
                    LinkSquares provides Gmail analytics for both personal and Google Apps inboxes. With Gmail analytics you'll have more insight and intelligence into valuable web content.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive analytics" src="img/gmail_analytics.png" alt="gmail analytics" style="width: 80%; padding-bottom: 40px; margin-right:10px; text-align: center">
            </div>
        </div>
    </div>
</div><!-- /.container -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-inline">
                    <li>
                        <a class="footer" href="http://www.twitter.com/linksquares">Follow us @linksquares</a>
                    </li>
                    <li class="footer-menu-divider">|
                    </li>
                    <li>
                        <a class="footer" href="mailto:info@linksquares.com">info@linksquares.com</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">
                    Copyright © LinkSquares 2014. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>