<div class="container">
  <div class="row header" >
          <div class="col-sm-6">
            <h1>Lorem ipsum</h1>
            <div class="tagline">
              <h3>Lorem ipsum dolor sit amet, consectetur </h3>
              <h3>Lorem ipsum dolor sit amet, consectetu</h3>
            </div>

            <a href="#fakelink" style="width:175px; padding-left:10; font-size:16px;" class="btn btn-block btn-lg btn-info">Request Access</a>

          </div>

          <div class ="col-sm-6">
            <br>
            <img src ="http://placehold.it/500x250" class="img-responsive">
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row features">
        <div class="col-xs-12 col-sm-4">
          <span class="fui-heart"></span>
          <h3>Feature 1</h3>
          <p>Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="fui-github"></span>
          <h3>Feature 2</h3>
          <p>Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <span class="fui-apple"></span>
          <h3>Feature 3</h3>
          <p>Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
        </div>
    </div>
</div>

<div class="screenshot-one">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <img src="http://placehold.it/400x300" class="img-responsive screenshot">
        </div>
        <div class="col-xs-12 col-sm-8">
          <h3>Screeshot description</h3>
          <p class="extra-spacing">Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
        </div>
      </div>
    </div>
</div>

<div class="screenshot-two">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h3>Screeshot description</h3>
        <p class="extra-spacing">Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
      </div>
        <div class="col-xs-12 col-sm-4">
          <img src="http://placehold.it/400x300" class="img-responsive screenshot">
      </div>
    </div>
  </div>
</div>

<div class="screenshot-two">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h3>Screeshot description</h3>
        <p class="extra-spacing">Bacon ipsum dolor sit amet beef ham turkey, strip steak tenderloin ribeye t-bone hamburger meatball rump shoulder tri-tip kielbasa short loin andouille. Biltong shank ribeye pig, tongue corned beef beef ribs shankle ball tip capicola short ribs andouille tail cow tenderloin. Rump chicken tri-tip pancetta. Fatback hamburger venison landjaeger rump bacon.</p>
      </div>
        <div class="col-xs-12 col-sm-4">
           
          <div id="submit-form">
          <form id="target" class="form-group">
            <input type="text" required class="form-control firstname-field" placeholder="First Name" id="first-name"  >
            <input type="text" required class="form-control lastname-field" placeholder="Last Name" id="last-name">
            <input type="text" required class="form-control company-field" placeholder="Company Name" id="company" >
            <input type="email" required class="form-control email-field" placeholder="Email Address" id="email">

            <h6>Do you experience challenges within your company regarding:</h6>
          <div name = "challenges-checkbox" id= "challenges-checkbox">
              <label class="checkbox" for="checkbox1">
                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
                Onboarding new employees
              </label>
               <label class="checkbox" for="checkbox2">
                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
                Team communication
              </label>
               <label class="checkbox" for="checkbox3">
                <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
                Excessive use of email to share content
              </label>
               <label class="checkbox" for="checkbox4">
                <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
               Distributing knowledge
              </label>

               <label class="checkbox" for="checkbox5">
                <input type="checkbox" value="" id="checkbox5" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
               Keeping employees updated on relevant information
              </label>
           </div>

            <input type="submit"  class="btn btn-primary btn-lg btn-block"  value= "Submit">
          </form>

          <div class="form-group has-success" style="display: none;">
            <input type="text" value="Success" class="form-control">
            <span class="input-icon fui-check-inverted"></span>
          </div>

          <div class="form-group has-error" style="display: none;">
            <input type="text" value="Please check atleast one checkbox" class="form-control">
            <span class="input-icon fui-check-inverted"></span>
          </div>
       

        </div>

      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 copyright">
          <a href="https://www.linksquares.com" id="footer_linksquares" target="_blank">linkSquares.com</a> 
          | © LinkSquares 2014 All Rights Reserved
        </div>

        <div class="col-xs-12 col-sm-4 social-media col-xs-pull-left">

          <a href="https://plus.google.com/" id="footer_gplus" target="_blank">
            <i class="fui-google-plus"></i>
          </a>
          <a href="https://www.linkedin.com/" id="footer_linkedin" target="_blank">
            <i class="fui-linkedin"></i>
          </a>          
          <a href="https://www.facebook.com" id="footer_facebook" target="_blank">
            <span class="fui-facebook"></span>
          </a>
          <a href="https://twitter.com/" id="footer_twitter" target="_blank">
            <span class="fui-twitter"></span>
          </a>
          <a href="http://wordpress.com" id="footer_blog" target="_blank">
             <span class="fui-mic"></span>
          </a>        
        </div>

      </div>
    </div>
  </div>
</div>
