<div class="container">
  <div class="row header" >
          <div class="col-sm-6">
            <h1>LinkSquare</h1>
            <div class="tagline">
              <h3>Lorem ipsum dolor sit amet, consectetur </h3>
              <h3>Lorem ipsum dolor sit amet, consectetu</h3>
            </div>


          <a href="#fakelink" style="width:175px; padding-left:10; font-size:16px;" class="btn btn-block btn-lg btn-info">Request Access</a>
             
      </div>
          <div class ="col-sm-6">
            <br>
            <img src ="/img/linksquare_logo.png" class="img-responsive">
          </div>
  </div>
</div>



<div class="container">
  <div class="row features">
        <div class="col-xs-12 col-sm-4">
          <img src="assets/er_images/icon_rescue.svg">
          <h3>Rescue deleted events</h3>
          <p>Laptop, mobile, browsers, 3rd party apps — no matter how or where your calendar event was deleted, you can rescue it.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="assets/er_images/icon_calendar.svg">
          <h3>7-day look back</h3>
          <p>Google Calendar Rescue instantly knows the last 7 days of invite deletions. It literally turns back time. It will even seamlessly re-send the invite to the original invitees.</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="assets/er_images/icon_remote.svg">
          <h3>Access everywhere</h3>
          <p>Restore your events from within Google Calendar, via a Chrome Extension, or from within the Google Calendar Rescue web app.</p>
        </div>

  </div>

</div>