<div class="intro-header">
    <div class="top-bar">
        <a href="http://www.linksquares.com"><img src="../img/logo_scaled.png" class="img-responsive"></a>
                   
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1>
                        Bookmarking and Communication for Your Team
                    </h1>
                    <h3>Are shared links from your team getting lost in your inbox?</h3>
                    <h3>Bookmark valuable content, share links, and improve team communication with LinkSquares.</h3>

                    <br>
                
                    <div class="form-group">
                        <ul class="list-inline intro-social-buttons">
                            
                            <p class="success-text" style="display: none;">Thanks, we'll contact you shortly with signup info. </p>
                            <p class="success-text" style="display: none;">Follow us <a href="http://www.twitter.com/linksquares">@linksquares</a></p>
                            
                            <form id="target">
                            <li>
                                <input type="email" required class="form-control email-field" placeholder="Enter your Email Address" id="email" style="display: inline;">
                            
                            
                                <input id="submit-button" type="submit" class="btn btn-primary btn-lg btn-block" value="Sign Up For Free" style="display: inline;">
                            
                            </li>
                         
                        </form>
                        </ul>
                    </div>

                    <img src="../img/dashboard.png" id="laptop" class="img-responsive laptop" style="width: 90%; height: 90%;">

                   
                </div>
                <div class="intro-message"></div>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.intro-header -->

<div class="content-section-c">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    
             <p class = "elevatorpitch" > LinkSquares was built to improve team communication and help companies keep a repository of content and articles shared among groups. Stop losing links and getting important articles buried in your inbox, use LinkSquares and get smart about sharing. </p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="sections-features">
        <div class="row features">
            <div class="col-xs-12 col-sm-4">
                <img src="vendor/flatui/img/icons/svg/clocks.svg" class="image-features" alt="Mail" style="text-align: center">
                <h2 class="section-heading">Read summaries and comment on shared articles</h2>
                <p class="lead">Shared links come with executive summaries to save time. Remove email clutter and endless “reply to all” conversations. 
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="vendor/flatui/img/icons/svg/clipboard.svg" class="image-features" alt="Watches" style="text-align: center">
                <h2 class="section-heading">Share interesting content with your team and improve communication</h2>
                <p class="lead">Share links, content and articles, publicly or privately, across a specific department or the whole company.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <img src="vendor/flatui/img/icons/svg/compas.svg" class="image-features" alt="Clipboard" style="text-align: center; width:28%;height:28%">
                <h2 class="section-heading">Search, browse, and track all shared company media and content</h2>
                <p class="lead">A history of all your links in one place. Use it to share training materials to new and existing employees.</p>
            </div>
         
        </div>
    </div>

<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Stop losing links and getting important articles buried in your email inbox</h2>
                    <p class="lead bottom">A side panel on each article provides a summary for quick reading and any comments or responses that team members have made. Quickly catch up on shared content and also see what others are saying.  </p>
                </div>
                <div class="col-lg-7 col-lg-offset-0 col-sm-6">
                    <img class="img-responsive bookmark" src="/img/survey/square_expanded.png" alt="team collaboration" style="width: 120%; height: 120%; padding-bottom: 40px; margin-right:10px; text-align: center">
                </div>
            </div>
        </div>
</div>
        <!-- /.container -->

<div class="content-section-d">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                <img src="../img/logo_scaled.png" class="img-responsive secondarycta" style="margin-left: auto;
    margin-right: auto;"></a>

                    
             <p class = "closingcta" > We're on a mission to improve bookmarking, content sharing and team communication.<br>
               Get smarter about sharing with LinkSquares.</p><br>


            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="preview-text" style="display: inline; font-size: 18px ">
                                    Contact Us
                                </p>
                <ul class="list-inline">
                   
                     <li>
                        <a class = "footer" href="http://www.twitter.com/linksquares" target="_blank"><img src="../img/twitter.png" id = "footerimage" class="img-responsive socialogo" style = "width:50px; height:50px"></a>
                    </li>
                    <!-- <li>
                        <a class="footer" href="http://blog.linksquares.com" target="_blank"><img src="../img/blog.jpg" id = "footerimage" class="img-responsive socialogo" style = "width:50px; height:50px"></a>
                    </li>-->
                                        

                    <li>
                        <a class="footer" href="mailto:info@linksquares.com"><img src="../img/email.jpg" class="img-responsive socialogo" id = "footerimage" style = "width:50px; height:50px"></a>
                    </li>

                   
                    
                   
                </ul>
                <p class="copyright text-muted small">
                    Copyright © LinkSquares 2015. All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>