<div class="container">
  <div class="row header" >
          <div class="col-sm-6">
            <h1>Lorem ipsum</h1>
            <div class="tagline">
              <h3>Lorem ipsum dolor sit amet, consectetur </h3>
              <h3>Lorem ipsum dolor sit amet, consectetu</h3>
            </div>

            <a href="#fakelink" style="width:175px; padding-left:10; font-size:16px;" class="btn btn-block btn-lg btn-info">Request Access</a>

          </div>

          <div class ="col-sm-6">
            <br>
            <img src ="http://placehold.it/500x250" class="img-responsive">
          </div>
      </div>
  </div>


<div class="screenshot-two">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4">

        <div id="login-form">
        
          <form id="target" class="form-group">
            <input type="text" required class="form-control firstname-field" placeholder="First Name" id="first-name"  >
            <input type="text" required class="form-control lastname-field" placeholder="Last Name" id="last-name">
            <input type="text" required class="form-control company-field" placeholder="Company Name" id="company" >
            <input type="email" required class="form-control email-field" placeholder="Email Address" id="email">

              <h6>Do you experience challenges within your company regarding:</h6>
          
            <div name = "challenges-checkbox" id= "challenges-checkbox">
              <label class="checkbox" for="checkbox1">
                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Onboarding new employees
              </label>

              <label class="checkbox" for="checkbox2">
                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
                Team communication
              </label>

              <label class="checkbox" for="checkbox3">
                <input type="checkbox" value="" id="checkbox3" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                </span>
                Excessive use of email to share content
              </label>

              <label class="checkbox" for="checkbox4">
                <input type="checkbox" value="" id="checkbox4" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Distributing knowledge
              </label>

              <label class="checkbox" for="checkbox5">
                <input type="checkbox" value="" id="checkbox5" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Keeping employees updated on relevant information
              </label>
            </div>

             <h6>Why are you interested in using LinkSquares?</h6>
          
            <div name = "interested-checkbox" id= "interested-checkbox">
              <label class="checkbox" for="interested-checkbox1">
                <input type="checkbox" value="" id="interested-checkbox1" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Team communication and collaboration
              </label>

              <label class="checkbox" for="interested-checkbox2">
                <input type="checkbox" value="" id="interested-checkbox2" data-toggle="checkbox" class="custom-checkbox">
                <span class="icons">
                  <span class="icon-unchecked"></span>
                  <span class="icon-checked"></span>
                </span>
              Group content sharing without email
              </label>

              <label class="checkbox" for="interested-checkbox3">
                <input type="checkbox" value="" id="interested-checkbox3" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                </span>
                Bookmarking and link sharing
              </label>

              <label class="checkbox" for="interested-checkbox4">
                <input type="checkbox" value="" id="interested-checkbox4" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Company Wiki or Intranet
              </label>

              <label class="checkbox" for="interested-checkbox5">
                <input type="checkbox" value="" id="interested-checkbox5" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Knowledge repository and archive
              </label>

              <label class="checkbox" for="interested-checkbox6">
                <input type="checkbox" value="" id="interested-checkbox6" data-toggle="checkbox" class="custom-checkbox">
                  <span class="icons">
                    <span class="icon-unchecked"></span>
                    <span class="icon-checked"></span>
                  </span>
                Improve employee onboarding and knowledge
              </label>
            </div>

            <textarea class="form-control questions-textarea" rows="5" cols="20">Questions or Comments</textarea>

            <input type="submit"  class="btn btn-primary btn-lg btn-block"  value= "Submit">
          </form>

          <div class="form-group has-success" style="display: none;">
            <input type="text" value="Thanks!" class="form-control">
            <span class="input-icon fui-check-inverted"></span>
          </div>

          <div class="form-group has-error" style="display: none;">
            <input type="text" value="Please check atleast one box" class="form-control">
            <span class="input-icon fui-check-inverted"></span>
          </div>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 copyright">
          <a href="https://www.linksquares.com" id="footer_linksquares" target="_blank">linkSquares.com</a> 
          | © LinkSquares 2014 All Rights Reserved
        </div>

        <div class="col-xs-12 col-sm-4 social-media col-xs-pull-left">

          <a href="https://plus.google.com/" id="footer_gplus" target="_blank">
            <i class="fui-google-plus"></i>
          </a>
          <a href="https://www.linkedin.com/" id="footer_linkedin" target="_blank">
            <i class="fui-linkedin"></i>
          </a>          
          <a href="https://www.facebook.com" id="footer_facebook" target="_blank">
            <span class="fui-facebook"></span>
          </a>
          <a href="https://twitter.com/" id="footer_twitter" target="_blank">
            <span class="fui-twitter"></span>
          </a>
          <a href="http://wordpress.com" id="footer_blog" target="_blank">
             <span class="fui-mic"></span>
          </a>        
        </div>

      </div>
    </div>
  </div>
