<div class="container">

<div class="row header">
        <div class="col-sm-12">
          <a href="https://www.backupify.com/"><img src="assets/er_images/b.png" class="logo"></a>
          <h1>Google Calendar Rescue</h1>
          <p class="subhead">POWERED BY BACKUPIFY</p>
          <div class="tagline">
            <h2>Restore Google Calendar events for free!</h2>
            <h2>And give new meaning to "Save the Date".</h2>
          </div>
          <!-- <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
          <div class="g-additnow" data-applicationid="334795264442"></div> -->
          <a href="https://chrome.google.com/webstore/detail/google-calendar-rescue/cdeajhogpbhfjimcgmllpbjjcnmbddoi" target="_blank" style="border: 0;">
          <img src="https://developers.google.com/apps-marketplace/integrate-button.png" alt="Integrate with Google" border="0"></a>
          <a href="https://rescue.backupify.com/" class="btn btn-default">Log in</a>
        </div>
      </div>



<div class="row features">
      <div class="col-xs-12 col-sm-4">
        <img src="assets/er_images/icon_rescue.svg">
        <h3>Rescue deleted events</h3>
        <p>Laptop, mobile, browsers, 3rd party apps — no matter how or where your calendar event was deleted, you can rescue it.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/er_images/icon_calendar.svg">
        <h3>7-day look back</h3>
        <p>Google Calendar Rescue instantly knows the last 7 days of invite deletions. It literally turns back time. It will even seamlessly re-send the invite to the original invitees.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/er_images/icon_remote.svg">
        <h3>Access everywhere</h3>
        <p>Restore your events from within Google Calendar, via a Chrome Extension, or from within the Google Calendar Rescue web app.</p>
      </div>
    </div>

</div>