<!doctype html>
<html>
  <head>
    <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="/vendor/flatui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link href="/vendor/bootstrapvalidator/dist/css/bootstrapValidator.min.css" rel="stylesheet">

    <link href="/css/custom.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= javascripts %>
  </body>
</html>
