.row.features {
}

.row.header {
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {

	  font-size: 40px;
}

h3 {
	  font-size: 20px;

}


img { 
   border:1px solid #021a40;

}

.container {

	padding: 15px
}


.screenshot-one {

	background-color: #ECF0F1;
}

.login-form {
	margin-top: 50px;
	position: relative;
	padding: 24px 23px 20px;
	background-color: #edeff1;
	border-radius: 6px;
}

.form-group.has-success {
	visibility: hidden;

}

.form-control  {
	margin-top: 10px;
	margin-bottom: 10px;
}