.row.features {
}

.row.header {
  font: 900 32px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {

	  font-size: 40px;
}

h3 {
	  font-size: 20px;

}


img { 
   border:1px solid #021a40;

}

.container {

	padding: 15px
}

.row.features {
	background-color: yellow;

}